@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: rgba(255, 255, 255, 0.33);
}
body {
  background-image: url(/vimal-s-h01HLa_uTtM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.horizont {
  display: flex;
}

.clear {
  width: 160px;
  height: 40px;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 13px;
}
.num {
  width: 41px;
  height: 40px;
  margin-right: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}
button {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  background: var(--main-color);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid var(--main-color);
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: rgba(255, 255, 255, 0);
}
.ans,
.op {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.op {
  width: 55px;
}
.div {
  width: 55px;
  height: 40px;
  margin-top: 13px;
}
.egale {
  width: 100px;
  height: 40px;
  margin-right: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.button {
  display: flex;
}
.numbers {
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
main {
  background: var(--main-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid var(--main-color);
  padding: 17px;
  border-radius: 10px;
}
.result {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 200;
  font-style: normal;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  background: var(--main-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid var(--main-color);
  width: 230px;
  height: 100px;
  border-radius: 10px;
}
