* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-attachment: fixed;
  background-image: url(/vimal-s-h01HLa_uTtM-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.horizont {
  display: flex;
}

.clear {
  width: 160px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 13px;
}
.num {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 40px;
  margin-right: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
}
button :hover,
button :active {
  background-color: yellow;
}
.ans {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border: none;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.op {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border: none;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.div {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border: none;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  margin-top: 13px;
}
.egale {
  border: none;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 40px;
  margin-right: 17px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
}
.button {
  display: flex;
}
.numbers {
  font-size: 17px;
  display: flex;
  flex-direction: column;
}
main {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  padding: 17px;
  border-radius: 10px;
}
.result {
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  width: 230px;
  height: 100px;
  border-radius: 10px;
}
